{% extends 'base/base_main.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/order/css/order.css' %}">
{% endblock %}

{% block content %}
    <div id="order">
        <h3>订单编号：{{ order_number }}</h3>
        <div class="full">
            <section>
                <menu>
                    <ul>
                        {% for item in order_items %}
                            <li class="menuList" order_item_id="{{ item.id }}">
                                <a href="">
                                    <img src="{{ item.goods.productimg }}" alt="">
                                    <p>{{ item.goods.productlongname }}</p>
                                    <p>{{ item.goods.price }}</p>
                                    <p>{{ item.desc|default:"" }}</p>
                                </a>
                                <section>
                                    <span>{{ item.goods_num }}</span>
                                    <button class="delete">×</button>
                                </section>
                            </li>
                        {% endfor %}
                    </ul>
                </menu>
            </section>
        </div>
        <div class="pay_msg">待付款金额：￥{{ sum_money }}</div>
        <div class="contain">
            <button class="pay">支付</button>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <span></span>
{% endblock %}
{% block js %}

    {{ block.super }}
    <script src="{% static 'axf/order/js/order.js' %}"></script>

{% endblock %}